@model List<UserRole>

<h2>Roles</h2>

<a asp-controller="myPage" asp-action="Create">Create a new Role</a>



<table class="table">
    <thead>
        <tr>
            <th>Role Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var role in Model)
        {
            <tr>
                <td>@role.RoleName</td>
            </tr>
        }
    </tbody>
</table>